meta(property='og:type' content='website')
if site.name
    meta(property='og:site_name' content=site.name)
if title
    meta(property='og:title' content=title)
if description
    meta(property='og:description' content=description)
if page && site.baseUrl
    - const fileName = page === 'index' ? '' : `${page}.html`
    meta(property='og:url' content=`${site.baseUrl}/${fileName}`)
meta(property='og:locale' content='ru_RU')
if cover && site.baseUrl
    meta(property='og:image' content=`${site.baseUrl}/${cover}`)
meta(property='og:image:width' content='968')
meta(property='og:image:height' content='504')
meta(name='twitter:card' content='summary_large_image')
if title
    meta(name='twitter:title' content=title)
if description
    meta(name='twitter:description' content=description)
